<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<form th:method="PATCH" th:action="@{/students/{id}/mergeStudent/{id1}(id=${groupId},id1=${student.id})}" th:object="${student}"
      style="width: 50%">
    <label for="name" class="form-label">Student Name</label>
    <input type="text" class="form-control" th:field="*{firstName}" id="name">

    <label for="dateOfStart" class="form-label">Last Name</label>
    <input type="text" class="form-control" th:field="*{lastName}" id="dateOfStart">

    <label for="dateOfFinis" class="form-label">email</label>
    <input type="text" class="form-control" th:field="*{email}" id="dateOfFinis">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>